.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 10;
    border-radius: 20px 20px;
}

.container:hover{
    background-color: white;
    border: 2px solid #17cf97;;
    border-radius: 25px 25px;
    transition: 0.3s ease-in-out;
    width: 103%;
    height: 103%;
}

img{
    width: 100px;
    height: 100px;

}

.image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.description{
    width: 90%;
    margin: auto;  
}

.description button{
    bottom: 25px;
}